database = {
    host="127.0.0.1";
    username="postgres";
    password="123";
    name="template1";
};

modules = {
    cycle = 30;
    transactions = {
        idle = {
            enabled = true;
            timeout = 60;
            session = false;
        };
    };
};